@charset "UTF-8";
 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }

 body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
 }

 .grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr 2 fr);
    gap: 20px;
 }

 .grid > div {
    background-color: tomato;
    min-height: 100px;
 }